<div class="ui card" style="padding: 15px;">
  <div class="image">
    <img src="/images/boo.png">
  </div>
  <div class="content">
    <a href="/user/{{user._id}}" class="header">{{user.firstName}} {{user.lastName}}</a>
    <div class="meta">
      <span class="date">Joined in {{user.joinedYear}}</span>
    </div>
    <div class="description">
      {{user.description}}
    </div>
  </div>
  <div class="extra content">
    <a>
      <i class="user icon"></i>
      21 followers
    </a>
  </div>
</div>