<div class="ui card" style="padding: 15px;">
  <div class="image">
    <img src="/images/boo.png">
  </div>
  <div class="content">
    <a href="/user/{{user._id}}" class="header">{{user.firstName}} {{user.lastName}}</a>
    <div class="meta">
      <span class="date">Joined in {{user.joinedYear}}</span>
    </div>
    <div class="description">
      {{user.description}}
    </div>
  </div>
  <div class="extra content">
    {{#if user.yourself}}
      <a>
        <i class="heart icon"></i>
        {{user.followers}} followers
      </a>
    {{else}}
      <div class="ui labeled button" tabindex="0">
        <a class="ui {{#if user.isFollowing}}inverted{{/if}} purple button" href="/{{#if user.isFollowing}}un{{/if}}follow/{{user._id}}">
          <i class="heart icon"></i>{{#if user.isFollowing}} Unfollow{{else}} Follow{{/if}}
        </a>
        <a class="ui basic purple left pointing label">
          {{user.followers}}
        </a>
      </div>
    {{/if}}
  </div>
</div>